/*Styles*/

.main-container {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  max-width: 1024px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

/*nav {*/
  /*padding-top: 20px;*/
/*}*/
.form-signin {
  margin-top: 200px;
}
.form-search {
  margin-bottom: 20px;
}
.form-group {
  margin: 20px;
}

.table th{
  text-align: center;
}
.login-button {
  width: 300px;
}
